################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Release/netcoreapp3.1
/obj
/bin/Debug/netcoreapp3.1
/.vs
/WalletApp.Model/bin/Debug/netcoreapp3.1
/WalletApp.Model/obj
/WalletApp.Service/bin/Debug/netcoreapp3.1
/WalletApp.Service/obj
/WalletApp.Service.Tests/bin/Debug/netcoreapp3.1
/WalletApp.Service.Tests/obj
/WalletApp.Api/bin/Debug/netcoreapp3.1
/WalletApp.Api/obj
/WalletApp.Database/WalletApp.Database.sqlproj.user
/WalletApp.Database/obj/Debug
/WalletApp.Database/WalletApp.Database.dbmdl
/WalletApp.Database/WalletApp.Database.jfm
/WalletApp.Api/WalletApp.Api.csproj.user
/WalletApp.Controller.Tests/bin/Debug/netcoreapp3.1
/WalletApp.Controller.Tests/obj
/WalletApp.Database/bin/Debug
